$font-family: Roboto;

$header-bg-color: #eeeff1;
$header-font-color: white;

$aboutme-bg-color: #f9f9f9;
$aboutme-font-color: white;

$information-bg-color: var(--Accent, #34547a);
$information-font-color: white;

$video-bg-color: #f9f9f9;
$video-font-color: white;

$footer-bg-color: var(--Accent, #34547a);
$footer-font-color: white;
